################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TestActions/.vs/TestActions/v16
/TestActions/TestActions.WebApp/bin/Debug/netcoreapp3.1
/TestActions/TestActions.WebApp/obj
